<%= form_tag employees_search_path, :method => :get do %>
  <p>
    <%= text_field_tag :name, params[:name], :placeholder => "Name" %>
    <%= text_field_tag :emp_id, params[:emp_id], :placeholder => "employee id" %>
    <%= text_field_tag :emp_roll, params[:emp_roll],:placeholder => "employee roll" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<script type="text/javascript">
$(document).ready(function(){

$("#name").keyup(function(){
      var name = $(this).val();
      $.ajax({
        url:"/get_emplyee_info",
        method:"get",
        dataType: "json",
        data:{ name : name},
        success :function(data){
          if (data["data"] != null) {
            $('#emp_id').val(data["data"]["emp_id"])
            $('#emp_roll').val(data["data"]["emp_roll"]);
          }
          else
          {
            $('#emp_id').val('');
            $('#emp_roll').val('');
          }
        }
      });
    });
});

</script>