<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong>Emp roll:</strong>
  <%= @employee.emp_roll %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
